.form {
  background-color: #f2f2f2;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: fit-content(574px);
  grid-gap: 0;
  max-height: 574px;
}


@media screen and (max-width: 768px) {
  .form {
    grid-template-columns: 1fr;
  }
}

