.form {
  background-color: #f2f2f2;
  width: 100%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(-webkit-max-content, 1fr) 0 minmax(-webkit-max-content, 1fr);
  -ms-grid-columns: minmax(max-content, 1fr) 0 minmax(max-content, 1fr);
  grid-template-columns: repeat(2, minmax(-webkit-max-content, 1fr));
  grid-template-columns: repeat(2, minmax(max-content, 1fr));
  grid-gap: 0;
}


@media screen and (max-width: 768px) {
  .form {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .form {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
