.illustraion_place_form {
  background-image: url('../../../images/airport-schedule.jpg');
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  background-size: cover;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -o-object-fit: cover;
  object-fit: cover;

}

@media screen and (max-width: 600px) {
  .illustraion_place_form {
    display: none;
  }
}



