.illustration_place_interests {
  height: 100vh;
  max-height: 574px;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

@media screen and (max-width: 600px) {
  .illustration_place_interests {
    grid-area: image;
    max-height: 440px;
  }
}
