.quotes__titles-container {
  max-width: 550px;
  margin: 0 0 95px;

}

@media screen and (max-width: 1074px) {
  .quotes__titles-container  {
    margin-bottom: 30px;
  }
}


@media screen and (max-width: 768px) {
  .quotes__titles-container  {
    margin: auto;
    text-align: center;
    width: calc(100% - 50px);
  }
}


