.quotes__cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1074px) {
  .quotes__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}


@media screen and (max-width: 768px) {
  .quotes__cards {
    grid-column-gap: 30px;

  }
}

@media screen and (max-width: 320px) {
  .quotes__cards {
     grid-column-gap: 0;

  }
}
