.title_place_form {
  max-width: 270px;
  margin-bottom: 92px;
}

@media screen and (max-width: 768px) {
  .title_place_form {
    width: 100%;
    margin: 0 auto 20px;
    text-align: center;

  }
}

