.quotes__author  {
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  margin: 0 0 32px;
}

@media screen and (max-width: 768px) {
  .quotes__author {
    margin-bottom: 16px;
  }
}
