.header__illustration {
  max-width: 383px;
  width: 100%;
  max-height: 383px;
  object-fit: cover;
  object-position: center center;
  margin-right: 95px;
}

@media screen and (max-width: 1060px) {
  .header__illustration {
    margin-right: 40px;
  }
}

@media screen and (max-width: 900px) {
  .header__illustration {
    max-width: 310px;
    max-height: 310px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 768px) {
  .header__illustration {
    margin-top: 30px;
    margin-right: 0;
    max-width: 383px;
    max-height: 383px;
  }
}

@media screen and (max-width: 425px) {
  .header__illustration {
    max-width: 100%;
  }
}