.interests {
  display: grid;
  grid-template-columns: (auto-fit, minmax(320px, 1fr));
  grid-auto-rows: fit-content(574px);
  background-color: #F2F2F2;
}

@media screen and (max-width: 768px) {
  .interests {
    grid-row-gap: 0;
  }
}

@media screen and (max-width: 425px) {
  .interests {
    grid-row-gap: 0;
  }
}

