.form__container {
  margin: 0 auto;
  margin-left: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 25px;
  padding: 25% 25px 25%;


}

@media screen and (max-width: 768px) {
  .form__container{
    justify-items: center;
    margin: auto;
    padding: 25px 0;
    max-width: 300px;
  }
}

