.form__container {
  margin: 0 auto 71px;
  margin-left: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 25px;


}

@media screen and (max-width: 768px) {
  .form__container{
    justify-items: center;
    margin: auto;
    padding: 0 25px;
    max-width: 300px;
    /* width: calc(100%- 50px); */
  }
}

