.footer {
    background: #FECDA7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20% 0;
    max-height: 574px;
    font-size: 50px;
    font-weight: 700;

}


@media screen and (max-width: 320px) {
  .footer {
    padding-bottom: 43.26%;
  }
}
